node-red/flows.json
[
    {
        "id": "0685b55eb50100ce",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e1da3247fa85722",
        "type": "mqtt in",
        "z": "0685b55eb50100ce",
        "name": "Receber MQTT",
        "topic": "sos/emergencia",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "08857940e72f76d5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 260,
        "y": 280,
        "wires": [
            [
                "0fecef3da380475a",
                "282b2306efe475c1",
                "3f27a7aefd3ade63",
                "77bf79f9a196b438"
            ]
        ]
    },
    {
        "id": "3f27a7aefd3ade63",
        "type": "ui_gauge",
        "z": "0685b55eb50100ce",
        "name": "Nível da Água",
        "group": "7de6ff590bcfaf82",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Altura da Água (cm)",
        "label": "cm",
        "format": "{{msg.payload.agua}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b600",
            "#e6e600",
            "#ca2424"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "282b2306efe475c1",
        "type": "ui_text",
        "z": "0685b55eb50100ce",
        "group": "7de6ff590bcfaf82",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Sensor de Chuva",
        "label": "Chuva:",
        "format": "{{msg.payload.chuva ? 'Detectada ☔' : 'Ausente ☀️'}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "0fecef3da380475a",
        "type": "ui_text",
        "z": "0685b55eb50100ce",
        "group": "7de6ff590bcfaf82",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Sensor de Gás/Fumaça",
        "label": "Fumaça:",
        "format": "{{msg.payload.fumaca ? 'Detectada 🔥' : 'Normal ✅'}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "77bf79f9a196b438",
        "type": "ui_text",
        "z": "0685b55eb50100ce",
        "group": "7de6ff590bcfaf82",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Botão",
        "format": "{{msg.payload.botao ? 'Ativado' : 'Desativado'}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 320,
        "wires": []
    },
    {
        "id": "08857940e72f76d5",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7de6ff590bcfaf82",
        "type": "ui_group",
        "name": "Monitoramento",
        "tab": "998d0a3fdfbc3ffc",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "998d0a3fdfbc3ffc",
        "type": "ui_tab",
        "name": "SOS Cidadão",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]